.nav-bar {
    background-color:#1a1a1a; 
    border-radius: 10cap;
    margin-top: 1%;
    margin-left: 6cap;
    width: 90%;
    height: 60px;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;

    .logo{
      display: block ;
      width: 150px;
      color: #fff;
    }    
    
    .nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 10px;
    
    .home-icon{
      &:hover{
        color: #afff00;
      }}
      .services-icon{
        &:hover{
          color: #afff00;
        }}
        .about-icon{
          &:hover{
            color: #afff00;
          }}
          .contact-icon{
            &:hover{
              color: #afff00;
            }}
    
            a.active{
              svg{
                  color:#afff00;
              }
          }

          .button-1{
            color: #afff00;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: 'Poppins',sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid #afff00;
            border-radius: 5cap;
            margin-top: 1px;
            margin: 8px;
            float: left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
            &:hover {
              background: #afff00;
              color: #000000;
            }
          }
    }}
    .auth-links {
    display: flex;
    gap: 20px;
    align-items: center;
    }

   
