.main-footer {
   color: white;
   padding-bottom: -5cap;
   background-color: #1a1a1a;
   padding-left: 0%;
   padding-top: 3em;
   height: 355px;
   position: relative;
   bottom: -1000px;
   width: 100%;
 }