.main-footer {
   color: white;
   padding-bottom:0;
   background-color: #1a1a1a;
   padding-left: 0%;
   padding-top: 1em;
   position: relative;
   bottom: -1000px;
   width: 100%;


   .logo{
    display: block ;
    width: 150px;
    color: #fff;
  } 

  
  .useful-link{
    text-decoration: none;
    color: #fff;
  }
 }

 