


:root{
    --mainDark:#343a40;
    --mainGrey:rgba(109,109,109);
    --mainLightGrey:rgba(172,172,172);
    --mainWhite:#fff;
    --mainBlue:#007bff;

    body{
        font-family: 'Poppins',sans-serif !important;
        color: #fff !important;
        background-color: #000000 !important;
        }
    
 }

